# Full requirements for developments
-r requirements-min.txt
pytorch-ignite==0.4.10
gdown>=4.4.0
scipy
itk>=5.2
nibabel
pillow!=8.3.0  # https://github.com/python-pillow/Pillow/issues/5571
tensorboard
scikit-image>=0.19.0
tqdm>=4.47.0
lmdb
flake8>=3.8.1
flake8-bugbear
flake8-comprehensions
flake8-executable
pylint!=2.13  # https://github.com/PyCQA/pylint/issues/5969
mccabe
pep8-naming
pycodestyle
pyflakes
black
isort
pytype>=2020.6.1; platform_system != "Windows"
types-pkg_resources
mypy>=0.790
ninja
torchvision
psutil
Sphinx==3.5.3
recommonmark==0.6.0
sphinx-autodoc-typehints==1.11.1
sphinx-rtd-theme==0.5.2
cucim==22.8.1; platform_system == "Linux"
openslide-python==1.1.2
imagecodecs; platform_system == "Linux" or platform_system == "Darwin"
tifffile; platform_system == "Linux" or platform_system == "Darwin"
pandas
requests
jupyterlab==3.0.16
openpyxl==3.0.7
xlrd==2.0.1
einops
nvitop==0.5.1 
torchmetrics==0.7.3
pytorch_lightning==1.4.9
ipywidgets==7.6.5
simpleitk==2.1.1
ray[tune]==1.0.1
torchio==0.18.71
metaflow==2.5.3
seaborn==0.11.2
fuzzywuzzy==0.18.0
python-levenshtein==0.12.2
fire==0.4.0
transformers<4.22  # https://github.com/Project-MONAI/MONAI/issues/5157
mlflow
matplotlib!=3.5.0
tensorboardX
types-PyYAML
pyyaml
fire
jsonschema
pynrrd
pre-commit
pydicom
h5py
nni
optuna
git+https://github.com/facebookresearch/pytorch3d.git@stable
git+https://github.com/themantalope/filematcher.git
